<h1>Admin Panel</h1>
<nav>
    <div class="nav nav-tabs" id="adm-tab">
        <button class="nav-link active" id="adm-users-tab" data-bs-toggle="tab" data-bs-target="#adm-users" type="button">Users Table</button>
        <button class="nav-link" id="adm-new-tab" data-bs-toggle="tab" data-bs-target="#adm-new" type="button">New User</button>
    </div>
</nav>
<div class="tab-content border bg-white" id="adm-tabContent">
    <div class="tab-pane fade show active" id="adm-users">
        <div class="container-fluid p-3 border-bottom bg-light">
            <h5 class="m-0">All Users</h5>
        </div>
        <div class="container-fluid p-3">
            <table class="table table-striped border-2 border-top mb-0" id="adminAllUsers">
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="adm-new">
        <div class="container-fluid p-3 border-bottom bg-light">
            <h5 class="m-0">Add New User</h5>
        </div>
        <div class="container-fluid p-3">
            <div class="w-25 mx-auto text-center">
                <div class="mb-3">
                    <label for="new-firstName" class="form-label fw-bold">First Name</label>
                    <input type="text" class="form-control" id="new-firstName" name="firstName">
                </div>
                <div class="mb-3">
                    <label for="new-lastName" class="form-label fw-bold">Last Name</label>
                    <input type="text" class="form-control" id="new-lastName" name="lastName">
                </div>
                <div class="mb-3">
                    <label for="new-email" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" id="new-email" name="email">
                </div>
                <div class="mb-3">
                    <label for="new-password" class="form-label fw-bold">Password</label>
                    <input type="password" class="form-control" id="new-password" name="password">
                </div>
                <div class="mb-3">
                    <label for="new-roles" class="form-label fw-bold">Roles</label>
                    <select class="form-select" id="new-roles" name="roles" multiple>
                        <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"></option>
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Add New User" onclick="createUser()">
            </div>
        </div>
    </div>
</div>